<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h3>Company</h3>
                <h3 class="pull-right">Work Order # 12345</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        +21274578544<br>
                        <strong>Created On:</strong>12/05/2023<br>
                        <strong>Last Updated:</strong>12/05/2023<br>
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Assigned To: </strong>Ibrahima Coulibaly<br>
                        <strong>Due Date: </strong>12/04/2023<br>
                        <strong>Status: </strong>Open<br>
                        <strong>Priority: </strong>Medium<br>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Work Order</strong></h3>
                </div>
                <div class="panel-body">
                    <h3>
                        HVAC Monthly Preventive Maintenance
                    </h3>
                    <h5>
                        Description
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Details</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>Location: </strong>Locations2<br>
                            <strong>Asset: </strong>Asset2<br>
                            <strong>Barcode: </strong>Asset2<br>
                            <strong>Area: </strong>Asset2<br>
                            <strong>Model: </strong>Asset2<br>
                        </div>
                        <div class="col-xs-6">
                            <strong>Location: </strong>Locations2<br>
                            <strong>Asset: </strong>Asset2<br>
                            <strong>Barcode: </strong>Asset2<br>
                            <strong>Area: </strong>Asset2<br>
                            <strong>Model: </strong>Asset2<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Tasks</strong></h3>
                </div>
                <div class="panel-body">
                    Check filter<br>
                    DSsdd<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Labors</strong></h3>
                </div>
                <div class="panel-body">
                    Check filter<br>
                    DSsdd<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Relations</strong></h3>
                </div>
                <div class="panel-body">
                    Check filter<br>
                    DSsdd<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Additional Costs</strong></h3>
                </div>
                <div class="panel-body">
                    Check filter<br>
                    DSsdd<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>History</strong></h3>
                </div>
                <div class="panel-body">
                    Check filter<br>
                    DSsdd<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Parts</strong></h3>
                </div>
                <div class="panel-body">
                    Check filter<br>
                    DSsdd<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <strong>Signature: </strong><br>
        </div>
        <div class="col-xs-6">
            <strong>Date: </strong><br>
        </div>
    </div>
</div>
